@charset "UTF-8";

/* Import */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

/* Variáveis */

:root {
  --cor1: #fafafa;
  --cor2: #9dc3c1;
  --cor3: #77a4a3;
  --cor4: #538587;
  --cor5: #366068;
  --cor6: #182b32;
}

/* Globais */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}

#home {
  animation: background 10s ease-in-out alternate infinite;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

@keyframes background {
  0% {
    background-color: var(--cor2);
  }
  50% {
    background-color: var(--cor4);
  }
  100% {
    background-color: var(--cor5);
  }
}

/* Cabeçalho */

header {
  background-color: var(--cor1);
  position: sticky;
  top: 0px;
  box-shadow: 0 0 1em var(--cor4);
  width: 100%;
  z-index: 4;
}

/* Habilidades */

.habilidades {
  font-family: "Open Sans", sans-serif;
  width: 53%;
  padding-left: 7%;
  height: 28px;
  background-color: var(--cor1);
  color: var(--cor6);
  font-size: 12px;
  border-bottom-right-radius: 5px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-shadow: 0em -1em var(--cor6);
}

/* Menu de navegação */

nav {
  width: 40%;
  height: 28px;
  color: var(--cor1);
  float: right;
  box-shadow: 0em -1em var(--cor6);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;

}

nav ul li a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: var(--cor6);
  padding: 5px 15px;
  display: block;
}

nav ul li a:hover {
  text-decoration: none;
  color: var(--cor4);
  transition: all 0.5s ease-out;
}

/* Logo */

.logo {
  background-color: var(--cor1);
  color: var(--cor6);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Corpo do site */

.mainPrincipal {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* box-shadow: 0 0 1em var(--cor4); */
}

/* Configuração geral paragrafo */

p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  margin: 0px;
  text-indent: 50px;
}

p a{
  text-decoration: none;
  color: var(--cor5)
}
p a:hover{
  color: #000
}

/* Configuração titulo paragrafo */

.titulo_main {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: var(--cor4);
  padding: 60px 90px 60px 100px;

  /* width: 100%; */
  /* float: left; */

}
.subtitulo_box {
  font-family: "Raleway", sans-serif;
  /* width: 500px; */
  font-size: 20px;
  color: var(--cor6);
  /* padding: 50px 50px; */
}

.box_itens {
  /* width: 800px; */
  /* background-color : var(--cor3); */
  /* flex-wrap: wrap; */
  /* height: 500px; */
  width: 80%;
  margin: auto;

}

.estilo_formacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.estilo_formacao img{

}

.estilo_formacao div{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 10%;

}


.estilo_formacao div h4{
  width: max-content;
  font-size: 25px;

  border-style: solid;
  border-color: var(--cor3);
  border-bottom-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 3px;
  padding-left: 40px;
}

.estilo_formacao div h5{
  width: max-content;
  font-size: 20px;

  border-style: solid;
  border-color: var(--cor3);
  border-bottom-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 3px;
  padding-left: 40px;
}
.texto{
}


@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }


.box_1 {
  width: 70%;
  height: 650px;
  background-color: var(--cor1);
  border-radius: 15px;
  margin: auto;
  margin-bottom: 5px;
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}

.box_2 {
  width: 70%;
  height: 650px;
  background-color: var(--cor1);
  border-radius: 15px;
  margin: auto;
  margin-bottom: 5px;
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}


.box_3 {
  width: 1000px;
  height: 615px;
  background-color: var(--cor1);
  border-radius: 5px;
  margin-bottom: 5px;
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}


/* Imagens */

.imagens {
  margin-left: 20px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 10px;
}

.imagens:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform:scale(1.1)
}



.box_itens2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}



.coluna1_habilidade{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  flex: 1;
  margin-left: 8%;
}

.coluna2_habilidade{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  flex: 1;
}

.itens_habilidade{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.itens_habilidade h3{
  padding-left: 5%;

  border-style: solid;
  border-color: var(--cor3);
  border-bottom-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 3px;

}
/* Rodapé */

.nome_autor {
  list-style: none;
  margin-left: 4px;
  text-decoration: none;
  color: var(--cor2);
}
.nome_autor:hover {
  list-style: none;
  margin-left: 4px;
  text-decoration: none;
  color: var(--cor1);
}

footer {
  font-family: "Oswald", sans-serif;
  background-color: var(--cor6);
  height: 50px;
  color: var(--cor1);
  box-shadow: 0 0 1em var(--cor4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

h3 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}



.seta {
  animation: pulsando 1s ease-in-out alternate infinite;
  margin: 0;
  position: absolute;
  top: 91.5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 4;
}

.seta:hover {
  animation: none;
  transition: all 1s;
}

@keyframes pulsando {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -75%);
  }
}

.voltar-ao-topo {
  margin: auto;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../Midia/Imagens/icone-subir.png);
}

[data-animacao] {
  opacity: 0;
  transition: 0.4s;
}

[data-animacao="bottom"] {
  transform: translate3d(0px, 100px, -100px);
  z-index: 3;
}

[data-animacao].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, -100px);
  z-index: 3;
}

.mainContato{
  width: 100%;
  height: 700px;
  background-color: var(--cor1);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.mainContato h1{
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: var(--cor3);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContato h2{
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContato h3{
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons{
  background: transparent; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.buttons1{
  margin: 25px;
  border: none;
  background-color: transparent;
}
